*
{
    padding: 0;
    margin: 0;
}

nav
{
    position:fixed;
    background-color: rgb(249, 208, 215);
    height: 70px;
    width: 100%;
    z-index: 1;
}

.logo{
    font-size: 25px;
    position: relative;
    left: 5%;
    color: black;
    font-weight: bold;
    line-height: 70px;
}

ul{
    position: relative;
    float: right;
    margin-right: 20px;
}

ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.picture{
    padding-top: 70px;
}

.base_img{
    background-attachment: fixed;
    width: 100%;
}


.img_table{
    position: absolute;
    top: 50%;
    left: 15%;
    background-color: wheat;
    padding-right: 20px;
    padding-left: 10px;
}

.form_deg{
    padding-top: 200px;
}

.title_deg{
    background-color: skyblue;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.label_login{
    display: inline-block;
    color: skyblue;
    width: 100px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}


.body_deg{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.img_table_check{
    position: absolute;
    width: 100%;
    background-color: wheat;
}

.updateform{
    background-color: midnightblue;
    width: 500px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.label_update{
    display: inline-block;
    color: white;
    width: 100px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.label_profile{
    display: inline-block;
    color: white;
    width: 100px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title_profile{
    background-color: skyblue;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}